[MASTER]

# Use multiple processes to speed up Pylint.
jobs=2

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,f,g

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
