[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,f,g

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[MASTER]

# Use multiple processes to speed up Pylint.
jobs=3

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
#
# Whole list retrieved on 2017-07-28 from: https://pylint.readthedocs.io/en/latest/technical_reference/extensions.html
# Remaining disabled: pylint.extensions.comparetozero,pylint.extensions.emptystring
load-plugins=pylint.extensions.bad_builtin,
             pylint.extensions.check_elif,
             pylint.extensions.docparams,
             pylint.extensions.docstyle,
             pylint.extensions.mccabe,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.redefined_variable_type

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"
# Note: old-division can be removed once Python 2.7 gets EOL. It was interfering with pathlib2 usage
# For all intents and purposes, all errors that old-division had pointed out were already fixed prior to pathlib2
# It should be re-added to the enable= line below
disable=locally-disabled,
        suppressed-message,
        useless-suppression,
        no-absolute-import,
        old-division,

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
enable=apply-builtin,
       backtick,
       bad-inline-option,
       bad-python3-import,
       basestring-builtin,
       buffer-builtin,
       c-extension-no-member,
       cmp-builtin,
       cmp-method,
       coerce-builtin,
       coerce-method,
       delslice-method,
       deprecated-itertools-function,
       deprecated-pragma,
       deprecated-str-translate-call,
       deprecated-string-function,
       deprecated-types-field,
       dict-items-not-iterating,
       dict-iter-method,
       dict-keys-not-iterating,
       dict-values-not-iterating,
       dict-view-method,
       div-method,
       eq-without-hash,
       exception-message-attribute,
       execfile-builtin,
       file-builtin,
       file-ignored,
       filter-builtin-not-iterating,
       getslice-method,
       hex-method,
       idiv-method,
       import-star-module-level,
       indexing-exception,
       input-builtin,
       intern-builtin,
       invalid-str-codec,
       locally-enabled,
       long-builtin,
       long-suffix,
       map-builtin-not-iterating,
       metaclass-assignment,
       next-method-called,
       next-method-defined,
       non-ascii-bytes-literal,
       nonzero-method,
       oct-method,
       old-ne-operator,
       old-octal-literal,
       old-raise-syntax,
       parameter-unpacking,
       print-statement,
       raising-string,
       range-builtin-not-iterating,
       raw_input-builtin,
       raw-checker-failed,
       rdiv-method,
       reduce-builtin,
       reload-builtin,
       round-builtin,
       setslice-method,
       standarderror-builtin,
       sys-max-int,
       unichr-builtin,
       unicode-builtin,
       unpacking-in-except,
       using-cmp-argument,
       xrange-builtin,
       zip-builtin-not-iterating,

[PARAMETER_DOCUMENTATION]

# Whether to accept totally missing parameter documentation in the docstring of
# a function that has parameters.
accept-no-param-doc=no

# Whether to accept totally missing raises documentation in the docstring of a
# function that raises an exception.
accept-no-raise-doc=no

# Whether to accept totally missing return documentation in the docstring of a
# function that returns a statement.
accept-no-return-doc=no

# Whether to accept totally missing yields documentation in the docstring of a
# generator.
accept-no-yields-doc=no
