dist: trusty
sudo: false
language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
before_install:
    - pip install --upgrade setuptools pip
    - pip install --upgrade virtualenv
install:
    - pip --version
    - virtualenv --version
    - git --version
before_script:
    - pip install --upgrade flake8 pylint
    - pip install --upgrade pytest-flake8 pytest-pylint
script:
    - python -m pytest
