backports.print_function>=1.1.1
boto==2.48.0
configparser>=3.5.0
flake8-isort>=2.5
future>=0.16.0
FuzzManager>=0.1.3
lithium-reducer>=0.2.1
psutil>=5.4.3
pytest-cov>=2.5.1
pytest-flake8>=1.0.0
pytest-pylint>=0.9.0
whichcraft>=0.4.1
