backports.print_function==1.1.1
backports.tempfile==1.0; python_version == "2.7"
boto==2.48.0
configparser==3.5.0
coverage==4.5.1
flake8==3.5.0
flake8-isort==2.5
functools32==3.2.3.post2; python_version == "2.7"
future==0.16.0
git+https://github.com/MozillaSecurity/FuzzManager@master
git+https://github.com/MozillaSecurity/lithium@master
isort==4.3.4
mercurial==4.5.3; python_version == "2.7"
pathlib2==2.3.2
psutil==5.4.5
pylint==1.8.4
pytest==3.5.1
pytest-cov==2.5.1
pytest-flake8==1.0.1
pytest-pylint==0.9.0
requests==2.18.4
shellescape==3.4.1
subprocess32==3.5.0rc1; python_version == "2.7"
whichcraft==0.4.1
